.wrapper {
  background-color: black;
  min-height: 100vh;
  min-width: 100vw;
}

.title {
  text-align: "center";
  color: white;
  padding-top: 1%;
}

.content {
  padding-top: 3em;
  text-align: "center";
  color: white;
  margin-bottom: auto;
}
